[submodule "ExTRA"]
	path = ExTRA
	url = git@github.com:ycoroneos/ExTRA.git
[submodule "fswatch"]
	path = fswatch
	url = git@github.com:emcrisostomo/fswatch.git
[submodule "go-fswatch"]
	path = go-fswatch
	url = https://github.com/andreaskoch/go-fswatch
[submodule "golang-set"]
	path = golang-set
	url = git@github.com:deckarep/golang-set.git
